body{
    background-color: #fae6e1 !important;
}
a{
    color: #fae6e1 !important;
}
p{
    color:#fae6e1;
}
span{
    color:#fae6e1;
}
.btn{
    background-color:#672340 !important;
}
h1{
    color:#fae6e1;
    text-shadow:1px 1px #10133b;
}
h2{
    color: #fae6e1;
    text-shadow:1px 1px #10133b;
}
h3{
    color: #672340;
    text-shadow:1px 1px #10133b;
}
h4{
    color:#fae6e1;
}
h5{
    color:#fae6e1;
    text-shadow:1px 1px #10133b;
}
.navbar{
    background-color: #f27360;
}
.card-body{
    background-color: #f27360;
}
.movie-detail{
    max-height: 100%;
    max-width: 100%;
}
.about-img{
    max-height: 100%;
    max-width: 100%;
}
#ftr{
    background-color: #f27360;
    text-align: center;
}
#ctn{
    min-height: 759px;
    align-items: center;
}
@media only screen and (min-width: 768px) {
    #ctn
    {
     height: 120px; height: 50%;
    }
}
